<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="beamApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="beacon_exfil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <beamApp.Properties.Settings>
            <setting name="HeaderUserAgent" serializeAs="String">
                <value>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) </value>
            </setting>
            <setting name="HeaderFileNumber" serializeAs="String">
                <value>TTXAUTH8</value>
            </setting>
            <setting name="HeaderDataChunk" serializeAs="String">
                <value>VAXAUTH5</value>
            </setting>
            <setting name="HeaderByteData" serializeAs="String">
                <value>BUFAUTH1</value>
            </setting>
            <setting name="DriveMap" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>https://www.google.com</value>
            </setting>
            <setting name="SendDelay" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DelayVariance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="HeaderFileNumberEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeaderDataChunkEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AltSendDelay" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AltDelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRandomBytes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataSizeVariance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataVarianceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </beamApp.Properties.Settings>
        <beacon_exfil.Properties.Settings>
            <setting name="HeaderUserAgent" serializeAs="String">
                <value>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) </value>
            </setting>
            <setting name="HeaderFileNumber" serializeAs="String">
                <value>TTXAUTH8</value>
            </setting>
            <setting name="HeaderDataChunk" serializeAs="String">
                <value>VAXAUTH5</value>
            </setting>
            <setting name="HeaderByteData" serializeAs="String">
                <value>BUFAUTH1</value>
            </setting>
            <setting name="DriveMap" serializeAs="String">
                <value>\\nec-file\reports</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>http://itsalongwaytothetop.com</value>
            </setting>
            <setting name="SendDelay" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DelayVariance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataSize" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="HeaderFileNumberEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeaderDataChunkEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AltSendDelay" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="AltDelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRandomBytes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataSizeVariance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DataVarianceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </beacon_exfil.Properties.Settings>
    </userSettings>
</configuration>